body {
}
.modal-footer-new1
{
    margin-top:-23px;height:10px;text-align: left;
}
 .modal-footer-new2
{
   height:58px
}
 .searchfornew1
 {
    margin-top:-9px;height: 41px;margin-top: -15px;padding:3px;
 }
 .modal-title-new1
 {
     margin:-4px
 }
 .modal-fade-new1
 {
     top: -20px
 }
