@model VSPApplication.Models.Login

@{
    ViewBag.Title = "ForgotPassword";
    //Layout = "~/Views/Shared/_filterView.cshtml";
}
<!-- header logo: style can be found in header.less -->
<style>
    #rcorners1 {
        border-radius: 25px;
        background: #dedede;
        padding: 20px;
        width: 100%;
        height: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 login">
            <center>
                <img src="~/img/vsp/VSPLogo.png" style="width:250px; height:80px; margin:auto" />
            </center><br>
            <p style="color:red">@ViewBag.ShowMessage</p>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "rcorners1", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="inputEmail1" style="color: #64376f ;margin-left:1%;">Enter EmailID</label>

                    <input type="email" class="form-control" id="inputEmailForgot" placeholder="Email" name="Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    <button type="submit" class="btn btn-success" style="background: #64376f ; border-color: #428bca ; color: white">Submit</button>

                </div>
            }
        </div>
    </div>
</div>





